<h1>Category show page</h1>
<%= @category.name %>
<ul>
  <% @products.each do |product| %>
  <li>
    <%= product.title %>
    <%= product.description %>
  </li>
  <% end %>
</ul>

<%= link_to "Back to categories page", categories_path %>

